<!DOCTYPE html>
<html lang="ja">


<head>
    <meta charset="UTF-8">
    <title>{% block title_name %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="ここにはページの説明文を入れてください" />

    {% block base_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/style.css?v=20260221">
    {% endblock %}

    {% block extra_css %}
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic'>
    <link rel="stylesheet" href="/static/css/lightbox.css">
    {% endblock %}

    <link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet">
</head>

<body class="{{ body_class | default('') }}" id="{{ body_id | default('') }}">

    <div id="loading">
        <div class="loader">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
        </div>
    </div>

    <header>
        <h1>PERSONAL WEB</h1>
        <!-- <h2>個人用サイト</h2> -->
        <div class="bg_bl"></div>

        <a class="menu_btn">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </a>

        <nav id="g_navi">
            <ul>
                <li class="sml"><a href="/">HOME</a></li>
                <li><a href="latte.html"><img src="/static/texture/te_003.jpg" />latte</a></li>
                <li><a href="shiro.html"><img src="/static/shiro/dr_001.jpg" />shiro</a></li>
                <li class="sml"><a href="read.html">Read Me</a></li>
                <li class="sml"><a href="#" id="logoutBtn">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main class="{{ main_class | default('') }}">
    {% block content %}
    <h3>{{ body_id }}</h3>
    <label for="fileUpload" class="file-link">upload</label>
    <label id="optionsBtn" class="file-link">options</label>
    <label id="selectAllBtn" class="file-link">select all</label>
    <input type="file" id="fileUpload" name="file" multiple style="display:none;">
    <div class="wrapper">
      <ul class="grid js-anim" id="result" data-contents-type="{{ body_id }}"></ul>
    </div>
    {% endblock %}
    </main>

    <footer>
        <ul class="f_link">
            <li><a href="https://ameblo.jp/ponkinta/" target="_blank"><i class="fas fa-book"></i></a></li>
            <li><a href="https://www.instagram.com/ai_mmng/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.megapx.com/contact.html" target="_blank"><i class="fa-regular fa-envelope"></i></a>
            </li>
        </ul>

        <address>
            Copyright (C) Yuki. All Rights Reserved.
        </address>
    </footer>

    {% block script %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script type="module" src="/static/js/script.js"></script>
    <script src="/static/js/getList.js"></script>
    <script src="/static/js/lightbox.js"></script>
    {% endblock %}

</body>

</html>