{% extends "base.html" %}

{% block title_name %}PERSONAL WEB{% endblock %}

{% block extra_css %}
<link rel='stylesheet'
  href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic'>
<link rel="stylesheet" href="/static/css/slider.css?v=20260221">

<link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <section class="slideshow">
    <div class="slideshow-inner">
      <div class="slides">
        <div class="slide is-active ">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Latte</div>
              <div class="text">
                <p>テクスチャーとして使える素材</p>
              </div>
              <a href="latte.html" class="btn">
                <span class="btn-inner">一覧を確認する</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="/static/latte/IMG_0507.jpg" class="image" />
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">shiro</div>
              <div id="result">読み込み中...</div>
              <script>
                fetch(`https://share-api.toa-yuki.com/message`)
                  .then(response => {
                    console.log("xxx受け取った")
                    return response.json()
                  })
                  .then(data => {
                    document.getElementById("result").textContent = data.message;
                  })
                  .catch(err => {
                    console.log("xxxここ")
                    document.getElementById("result").textContent = "取得失敗";
                    console.error(err);
                  });
              </script>
              <a href="shiro.html" class="btn">
                <span class="btn-inner">一覧を確認する</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="/static/shiro/IMG_0936.DNG" class="image" />
          </div>
        </div>
        <!-- <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Utopia</div>
              <div class="text">
                <p>幻想的な風景が広がる理想郷</p>
              </div>
              <a href="/utopia.html" class="btn">
                <span class="btn-inner">一覧を確認する</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="/static/utopia/ut_002.jpg" class="image" />
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Drawing</div>
              <div class="text">
                <p>線画、細密画、コラージュ等、アート系</p>
              </div>
              <a href="/drawing.html" class="btn">
                <span class="btn-inner">一覧を確認する</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="/static/drawing/dr_003.jpg" class="image" />
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Fantasy</div>
              <div class="text">
                <p>幻想的な架空の生物等ファンタジーな世界</p>
              </div>
              <a href="/fantasy.html" class="btn">
                <span class="btn-inner">一覧を確認する</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="/static/fantasy/fa_002.jpg" class="image" />
          </div>
        </div>
      </div> -->
      <div class="pagination">
        <div class="item is-active">
          <span class="icon">1</span>
        </div>
        <div class="item">
          <span class="icon">2</span>
        </div>
        <!-- <div class="item">
          <span class="icon">3</span>
        </div>
        <div class="item">
          <span class="icon">4</span>
        </div>
        <div class="item">
          <span class="icon">5</span> -->
        </div>
      </div>
      <div class="arrows">
        <div class="arrow prev">
          <span class="svg svg-arrow-left">
            <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26"
              enable-background="new 0 0 14 26" xml:space="preserve">
              <path
                d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z" />
            </svg>
            <span class="alt sr-only"></span>
          </span>
        </div>
        <div class="arrow next">
          <span class="svg svg-arrow-right">
            <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26"
              enable-background="new 0 0 14 26" xml:space="preserve">
              <path
                d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z" />
            </svg>
            <span class="alt sr-only"></span>
          </span>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
<script type="module" src="/static/js/script.js"></script>
<script src="/static/js/slider.js"></script>
{% endblock %}
</body>

</html>