{% extends "base.html" %}

{% block title_name %}PERSONAL WEB{% endblock %}

{% block extra_css %}
<link rel='stylesheet'
  href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic'>
<link rel="stylesheet" href="/static/css/slider.css?v=20260221">

<link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet">
<style>footer, #theme-toggle { visibility: hidden; }</style>
{% endblock %}

{% macro category_slide(name='', description='', href='', category_id='', image_file_name=None, video_file_name=None, extra_class='', show_edit=False) %}
<div class="slide{{ (' ' + extra_class) if extra_class }}">
  <div class="slide-content">
    <div class="caption">
      <div class="title">{{ name }}</div>
      <p class="text"{{ ' style="display:none;"' if not description }}>{{ description }}</p>
      <a href="{{ href }}" class="btn"><span class="btn-inner">一覧を確認する</span></a>
      <div class="category-action-btns">
        <button class="category-share-btn" data-category-id="{{ category_id }}">
          <i class="fa-solid fa-share-nodes"></i> 共有
        </button>
        <button class="category-edit-btn"
          data-category-id="{{ category_id }}"
          data-name="{{ name }}"
          data-description="{{ description }}"
          data-image-file-name="{{ image_file_name or '' }}"
          {{ 'style="display:none;"' if not show_edit }}>
          <i class="fa-solid fa-pen"></i> 編集
        </button>
      </div>
    </div>
  </div>
  <div class="image-container{{ '' if image_file_name else ' default-category-bg' }}">
    <img class="image" src="{{ '/personal-web/categories/' + category_id + '/bg/' + image_file_name if image_file_name else '' }}"{{ ' style="display:none;"' if not image_file_name }}>
    {% if video_file_name and category_id %}
    <div class="slide-video-fade"></div>
    <video class="slide-video" muted playsinline>
      <source src="/personal-web/categories/{{ category_id }}/bg/{{ video_file_name }}">
    </video>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro add_category_slide(extra_class='') %}
<div class="slide slide-add-category{{ ' ' + extra_class if extra_class }}">
  <div class="slide-content">
    <div class="caption">
      <div class="title">Add Category</div>
      <p class="text">新しいカテゴリを登録して<br>コンテンツを整理しましょう</p>
      <button id="add-category-btn" class="btn">
        <span class="btn-inner">カテゴリを追加する</span>
      </button>
    </div>
  </div>
  <div class="image-container default-category-bg"></div>
</div>
{% endmacro %}

{% block content %}
  <template id="category-slide-tpl">
    {{ category_slide(extra_class='is-loaded', show_edit=True) }}
  </template>

  <section class="slideshow">
    <div class="slideshow-inner">
      {% if categories %}
      <div class="slides">
        {% for category in categories %}
        {{ category_slide(
          name=category.name,
          description=category.description or '',
          href=category.id ~ '.html',
          category_id=category.id,
          image_file_name=category.image_file_name,
          video_file_name=category.video_file_name,
          extra_class='is-active' if loop.first else '',
          show_edit=(role == "admin" or category.created_by|string == user_id)
        ) }}
        {% endfor %}
        {{ add_category_slide() }}
      </div>
      <div class="pagination">
        {% for category in categories %}
        <div class="item{% if loop.first %} is-active{% endif %}">
          <span class="icon">{{ loop.index }}</span>
        </div>
        {% endfor %}
        <div class="item">
          <span class="icon">{{ categories|length + 1 }}</span>
        </div>
      </div>
      <div class="arrows">
        <div class="arrow prev">
          <span class="svg svg-arrow-left">
            <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26"
              enable-background="new 0 0 14 26" xml:space="preserve">
              <path
                d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z" />
            </svg>
            <span class="alt sr-only"></span>
          </span>
        </div>
        <div class="arrow next">
          <span class="svg svg-arrow-right">
            <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26"
              enable-background="new 0 0 14 26" xml:space="preserve">
              <path
                d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z" />
            </svg>
            <span class="alt sr-only"></span>
          </span>
        </div>
      </div>
      {% else %}
      {{ add_category_slide('is-active is-loaded') }}
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block script %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="/static/js/particleEffect.js"></script>
{% if categories %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
<script src="/static/js/videoBackground.js"></script>
<script src="/static/js/slider.js"></script>
{% endif %}
<script type="module" src="/static/js/categoryCreateModal.js"></script>
<script type="module" src="/static/js/shareModal.js"></script>
<script type="module" src="/static/js/categoryEditModal.js"></script>
{% endblock %}
</body>

</html>