{% extends "base.html" %}
{% block title_name %}PERSONAL - latte{% endblock %}

{% block extra_css %}
<link rel='stylesheet'
  href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic'>
<link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/lightbox.css">
{% endblock %}

{% block script %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script type="module" src="/static/js/script.js"></script>
<script src="/static/js/getList.js"></script>
<script src="/static/js/lightbox.js"></script>
{% endblock %}

{% block content %}
<h3>latte</h3>
<label for="fileUpload" class="file-link">upload</label>
<label id="optionsBtn" class="file-link">options</label>
<input type="file" id="fileUpload" name="file" multiple style="display:none;">
<div class="wrapper">
  <ul class="grid js-anim" id="result" data-contents-type="latte"></ul>
</div>
{% endblock %}
