{% extends "base_login.html" %}

{% block title %}PERSONAL WEB - Login{% endblock %}

{% block content %}
  <div class="login-box">
    <p class="login-title">Personal Web</p>
    <form method="post" action="/login">
      {# 招待トークンをログイン後の招待フローに引き継ぐ #}
      {% if invite %}
      <input type="hidden" name="invite" value="{{ invite }}">
      {% endif %}
      <div class="field">
        <label for="username">Username or Email</label>
        <input type="text" id="username" name="username" autocomplete="username email" autofocus>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" autocomplete="current-password">
      </div>
      {% if error_msg %}
      <p class="error-msg">{{ error_msg }}</p>
      {% endif %}
      <button type="submit">Enter</button>
    </form>
    <a href="/signup" class="sub-link">新規会員登録</a>
    <a href="/forgot-password" class="sub-link">パスワードを忘れた場合</a>
  </div>
{% endblock %}
